a 
  {
  text-decoration: none; 
  color: #F08000
  }

body 
  {
  background: #030e18; 
  color: #7ba2c4; 
  font: %%base_font_size%%px Dialog; 
  margin-left: 40px; 
  margin-right: 40px; 
  margin-bottom: 10px; 
  margin-top: 20px 
  }

blockquote 
  {
  background: #101010; 
  font-weight: bold; 
  padding: 8px 
  }

code 
  {
  color:white; 
  font: %%base_font_size%%px monospace
  }

h1 
  {
  color: #C0F0; 
  background: #030e18;
  font: %%h1_font_size%%px sans-serif; 
  font-weight: bold 
  }

h2 
  {
  color: #B0E0;  
  background: #030e18;
  font: %%h2_font_size%%px sans-serif;
  padding-top: 10px;
  }

h3 
  {
  background: #030e18;
  color: #C0F0; 
  font: %%h3_font_size%%px sans-serif;
  padding-top: 10px;
  }

p 
  {
  color: #7ba2c4; 
  }

pre 
  {
  background: #041e28;
  font: %%base_font_size%%px monospace; 
  margin-top: 16px;
  padding: 8px;
  }

ul 
  {
  margin-top: 8px;
  }

